div.imageContainer {
    position: relative;
    a.imageUpdate {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.editorJsText{
    display: none !important;
}
.dropzoneContainer input{
    display: none !important;
}
.editorJsText{
    font-family: sans-serif;
    border: 1px solid black;
}
.dropzone{
    height: auto !important;
    min-height: auto !important;
    border: 1px dashed var(--tw-gray-300) !important;
}

.dropzone .dz-message {
    color: var(--tw-primary);
}
#snippet-grid-dataGrid{
    overflow-x: scroll;
}