html {
  scrollbar-gutter: stable;
}

.no-border {
  border: 0;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-3 {
  padding-right: 0.75rem;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}

.switch input[type="checkbox"]:checked {
  background-image: unset !important;
}

.color-dark {
  color: var(--tw-dark);
}

.max-w-32 {
  max-width: 264px !important;
  width: 100%;
}

.gap-8 {
  gap: 2rem;
}

.mt-10 {
  margin-top: 2.5rem !important;
}

div.imageContainer {
    position: relative;
    a.imageUpdate {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.dz-image a.imageUpdate{
    background-color: white;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    position: absolute;
}
.editorJsText{
    display: none !important;
}

.editorJsText{
    font-family: sans-serif;
    border: 1px solid black;
}

.dropzone {
    height: auto !important;
    min-height: 120px !important;
    border: 2px dashed var(--tw-gray-300) !important;
    border-radius: 8px !important;
    background-color: #f9fafb !important;
    transition: none !important;
    display: flex !important;
    align-items: center !important;
    padding: 20px !important;
}

.dropzone .dz-button {
    color: #000 !important;
}

.dropzone:hover {
    border-color: var(--tw-primary) !important;
    background-color: rgba(var(--tw-primary-rgb, 0, 120, 212), 0.05) !important;
}


.dropzoneContainer input {
    display: none !important;
}

.dropzone:hover .dz-button {
    color: var(--tw-primary) !important;
}

.dropzone .dz-message {
    color: var(--tw-primary) !important;
    font-weight: 500 !important;
    text-align: center !important;
    margin: 0 !important;
    width: 100%;
}

.dropzone.dz-drag-hover {
    border-color: var(--tw-primary) !important;
    background-color: rgba(var(--tw-primary-rgb, 0, 120, 212), 0.1) !important;
}


html.dark .dropzone {
    background-color: var(--tw-light-active) !important;
    border: 2px dashed var(--tw-gray-300) !important;
}

html.dark .dz-button {
    color: var(--tw-gray-700) !important;
}

html.dark .dropzone .dz-preview.dz-image-preview {
    background-color: var(--tw-light-active) !important;
    border: 1px solid var(--tw-gray-300) !important;
}

.dropzone {
    max-width: 534px !important;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #f1f1f1; /* Firefox */
}

/* (Chrome, Safari, etc.) */
.dropzone::-webkit-scrollbar {
    height: 6px;
}

.dropzone::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.dropzone::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.dropzone::-webkit-scrollbar-thumb:hover {
    background: #969696;
}

.dropzoneContainer input {
    display: none !important;
}

.dropzone .dz-message {
    color: var(--tw-primary);
}

#snippet-grid-dataGrid {
    overflow-x: auto !important;
}

.dz-preview {
    z-index: 0 !important;
    padding: .5rem;
    border-radius: 20px;
}

.form-control {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}


.form-control input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-radius: .375rem;
}

.form-control .max-w-32 {
    max-width: unset !important;
}

.formLanguageSelect {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    line-height: 1;
    border-radius: .375rem;
    padding-block: .25rem;
    gap: .375rem;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: .9rem;
    outline: none;
    color: var(--tw-primary);
    padding-inline: 1rem;
}

.formLanguageSelect option {
    color: #000000;
}

.formLanguageSelect:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--tw-primary-rgb, 0, 123, 255), 0.25);
}

.formLanguageSelect:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.dropdown-content .menu-link {
    font-size: .85rem !important;
    padding-inline: .25rem !important;
    padding-block: .2rem !important;
}

textarea {
    line-height: normal !important;
}


.fieldset {
    padding-block: 1.5rem !important;
}
[hidden]{
    display: none;
}

.modal .codex-editor__redactor{
    padding-bottom: 0 !important;
}
body.content .draggable .menu{
    display: none;
}
body.content .draggable:hover .menu{
    display: block;
}

#snippet-gridRecord-dataGrid {
    overflow: auto  !important;
}

.item.card.draggable .menu {
    padding-inline-start: 1.875rem;
    padding-inline-end: 1.875rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

div.draggable-zone {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* TODO: remove from templates, if OK */
form.max-w-2xl{
    max-width: 100% !important;
}

.blockItem-value-edit{
    display: none;
}
.item.card.draggable:hover .blockItem-value-edit{
    display: block;
}
.item.card.draggable:hover .blockItem-value-show{
    display: none;
}

.page-bg {
    background-size: cover !important;
}

.my-7 {
    margin-top: 1.75rem !important;
    margin-bottom: 1.75rem !important;
}

.px-7 {
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

.py-7 {
    padding-top: 1.75rem !important;
}

.pt-7 {
    padding-top: 1.75rem !important;
}

.pb-7 {
    padding-bottom: 1.75rem !important;
}


.modal.open {
    display: grid !important;
    align-items: center !important;
}

.modal-footer {
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    padding-block-start: .625rem;
    padding-block-end: .625rem;
    outline: none;
}
.max-w-\[1000px\] {
    max-width: 1000px;
    width: 100%;
}

.flex.justify-end.mt-6 .btn.btn-primary {
    margin-bottom: 3rem;
}

.codex-editor {
    border: 1px solid !important;
    border-color: var(--tw-gray-400) !important;
    border-radius: .375rem !important;
    padding-inline-start: .75rem !important;
    padding-inline-end: .75rem !important;
    padding-block: .5rem;
}

.codex-editor__redactor {
    padding-bottom: 0px !important;
}

.ce-block__content,
.ce-toolbar__content {
    margin-inline: unset !important;
}


.accordion-content {
    /*max-height: 0;*/
    /*overflow: hidden;*/
    overflow: visible;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    visibility: hidden;
}

.accordion-content:not(.hidden) {
    opacity: 1;
    visibility: visible;
}

.accordion-toggle {
    transition: transform 0.3s ease;
    contain: layout style paint;
    cursor: pointer;
}

.accordion-active i {
    transform: rotate(180deg);
}

.accordion-toggle i {
    transition: transform 0.3s ease;
}

.tab-error-indicator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.35rem;
    font-size: 0.7rem;
    width: 1rem;
    height: 1rem;
    border-radius: 999px;
    background: #dc3545;
    color: #fff;
    font-weight: bold;
}