{templateType App\UI\BaseTemplate}

{layout $layoutFile}

{block h1}{_'header_editImage'}{/block}

{block content}
    {control image, $imageEntity->id, 100, 100}
    {embed basicForm, formEdit}{/embed}
{/block}