{templateType App\UI\Admin\BaseTemplate}

{layout $layoutFile}

{block h1}{_'header_translateEditKey%key%', 'key' => $translate->key}{/block}

{block content}
    {embed basicForm, formEditKey}{/embed}
{/block}
