{templateType App\UI\Admin\BaseTemplate}

{layout $layoutFile}

{block h1}{_'header_translateKey%key%', 'key' => $translate->key}{/block}

{block content}
    {embed basicForm, formTranslate}{/embed}
{/block}