{templateType App\UI\BaseTemplate}

{layout $layoutFile}

{block h1}{_'Můj účet'}{/block}

{block content}
    {embed basicForm, formEdit}{/embed}
    <h2 class="text-xl font-semibold mb-4">{_'Změna hesla'}</h2>
    {embed basicForm, formChangePassword}{/embed}
{/block}