{templateType App\Component\Front\FaviconControl\Template}

{foreach $favicons as $favicon}
    {$control->getIcon($favicon)}
{/foreach}

<style n:syntax="off">.grecaptcha-badge {visibility: hidden;}</style>