{templateType App\UI\BaseTemplate}

{layout $layoutFile}

{block h1}{_'languages'}{/block}

{block content}

    {control grid}

    {embed basicModal, 'formNew'}
        {block title}{_'new_language'}{/block}
        {block body}
            {embed basicForm, formNew}{/embed}
        {/block}
    {/embed}
{/block}