parameters:
    uploadDir: %appDir%/../files
    previewWwwDir: '/images'
    previewDir: %appDir%/../www%previewWwwDir%
    privateDir: %appDir%/../private
    encryptionKey: 'LDN0RitjRxUdrhhuTXDVbo914sEcjmOy'
    autoGenerateEntities: false
    metronicDir: 'metronic'

services:
    - App\Component\Translator\Translator

    routerFactory: App\Core\RouterFactory
    router: @routerFactory::createRouter()

    authorizatorFactory: App\Core\Admin\AuthorizatorFactory

    - App\UI\Accessory\ParameterBag(%wwwDir%, %rootDir%, %debugMode%, %uploadDir%,%previewDir%,%previewWwwDir%, %tempDir%, %appDir%,%encryptionKey%, %autoGenerateEntities%, %metronicDir%, %privateDir%)
    - App\Core\DbParameterBag(%database.host%,%database.dbname%,%database.user%,%database.password%)

    - App\Component\Translator\Extractor\LatteExtractor
    - App\Component\Translator\Extraxtor\NetteTranslatorExtractor

    -
        create: App\Core\Admin\Authenticator
        autowired: self
    applicationErrorLogger: App\Core\Logger\ApplicationErrorLogger

decorator:
    Nette\Application\Application:
        setup:
            - '$onError[]' = [@applicationErrorLogger, onError]

search:
    - in: '%vendorDir%/incore'
      classes:
          - *Factory
          - *Facade
          - *Command
    - in: '%vendorDir%/incore'
      implements:
          - App\Model\Model
          - App\Model\DoctrineEntity\Entity
          - Doctrine\Common\DataFixtures\FixtureInterface
          - App\UI\Accessory\Admin\Modules\VisibilityVoter
    - in: '%vendorDir%/incore/core/src/app/Model'
      exclude:
          classes:
              - *Entity
              - App\Model\DoctrineEntity\DirLocation

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter



latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\UI\Accessory\LatteExtension

database:
	dsn: 'mysql:host=%database.host%;dbname=%database.dbname%'
	user: '%database.user%'
	password: '%database.password%'

di:
	export:
		parameters: no
		tags: no
	lazy: true

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
	name: InCore
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: https://example.com

session:

	# doba neaktivity po které session vyexpiruje
	expiration: 14 days  # (string) výchozí je '3 hours'

assets:
	mapping:
		incore: incore/public       # běžné soubory /www/assets/