{templateType App\UI\Admin\BaseTemplate}

{layout $layoutFile}

{block h1}{_'header_editEmail'}{/block}

{block content}
    {embed languageSelect, defaultId: $presenter->getParameter('languageId')}{/embed}
    {embed basicForm, formEdit}{/embed}
{/block}
