{templateType App\UI\BaseTemplate}

{layout $layoutFile}

{block h1}{_'my_account'}{/block}

{block content}
    {capture $myAccountTitle}{_'my_account'}{/capture}
    {capture $changePasswordTitle}{_'change_password'}{/capture}
    
    {embed basicForm, formEdit, 'new', $myAccountTitle}{/embed}
    {embed basicForm, formChangePassword, 'new', $changePasswordTitle}{/embed}
{/block}
